#board {
    display: flex;
    
}


.box {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: green;
    font-size: 3em;
    text-align: center;
    line-height: 75px;
    margin: 5px;
    animation: appear 1s;
    border-radius: 6px;
    transition: 1s;
    transform: rotate(-360deg);
}

.box-clicked {
    background-color: red;
    color: #aaa;
    transition: 1s;
    transform: rotate(360deg);
    width: 150px;
    height: 150px;
}



